* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Header image of Digital Marketing Meeting */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Images for Search Engine Optimization and Social Media Marketing positioned to the left of text*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* Image for Online Reputation Management is positioned to the right of text*/
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Properties of Right Column*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Margin and Color text for Lead Generation, Brand Awareness, and Cost Management column*/
.benefit-brand, .benefit-cost, .benefit-lead{
    margin-bottom: 32px;
    color: #ffffff;    
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Properties for Images used under titles: Lead Generation, Brand Awareness, and Cost Management*/
.benefit-brand img, .benefit-cost img, .benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Proterties for Search Engine Optimization, Social Media Marketing, and Online Reputation Management*/
.search-engine-optimization, .social-media-marketing, .online-reputation-management{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Height property for SEO, ORM, and SMM images*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/*Margin and font size for Headers of Search Engine Optimization, Online Reputation Management, and Social Media Marketing.*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2{
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
